body {
  font-family: system-ui;
  background: #5b9a8b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #f3fde8;
  box-shadow: 0 14px 0 #a8df8e, 0 20px 14px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 70px;
  color: #5b9a8b;
  font: bold 24px/1 "arial";
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn > .loader {
  display: none;
  width: 20px;
  height: 20px;
  border: 4px solid #5b9a8b;
  border-top-color: transparent;
  border-radius: 50%;

  animation: spinner 3s infinite ;
}

.btn.loading {
  transform: translateY(4px);

  box-shadow: 0 4px 0 #a8df8e, 0 4px 4px;
}

.btn.loading > .text {
  display: none;
}

.btn.loading > .loader {
  display: block;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
